[submodule "Game/Eks/Eks3D"]
	path = Game/Eks/Eks3D
	url = git@github.com:jorj1988/eks-3d.git
[submodule "Game/Eks/EksCore"]
	path = Game/Eks/EksCore
	url = git@github.com:jorj1988/eks-core.git
[submodule "Game/Eks/EksBuild"]
	path = Game/Eks/EksBuild
	url = git@github.com:jorj1988/eks-build.git
[submodule "Game/Eks/EksGui"]
	path = Game/Eks/EksGui
	url = git@github.com:jorj1988/eks-gui.git
